---
import type { Definition } from '../models/Definition';
import BlueskyIcon from '../assets/bluesky.svg';
import TwitterIcon from '../assets/twitterx.svg';
import CopyIcon from '../assets/copy.svg';
import LinkIcon from '../assets/link.svg';
import EmbedIcon from '../assets/embed.svg';
import ImageIcon from '../assets/image.svg';

interface Props {
  definition: Definition;
}

const { definition } = Astro.props;
---

<div data-type="definition-card" class="border-l-4 border-green-500 bg-white px-8 py-4">
  <div class="mb-4 flex items-center justify-between">
    <div class="flex items-center gap-4">
      <h2 data-type="definition-term" class="inline text-2xl font-bold">
        <a href={`/t/${definition.id}`} class="text-black hover:text-blue-900">{definition.term}</a>
      </h2>

      <p class="text-sm text-gray-600">
        {
          definition.categories.map(category => (
            <span class="text-medium mr-2 rounded-full bg-gradient-to-br from-green-50 to-green-100 px-3 py-1 text-green-700">
              {category}
            </span>
          ))
        }
      </p>
    </div>
    <div>
      <div class="group relative inline-block">
        <button
          type="button"
          data-type="share-embed-button"
          data-definition-id={definition.id}
          class="rounded-md px-2 py-1 hover:cursor-pointer hover:bg-gray-100"
        >
          <img src={EmbedIcon.src} alt="Share embed" class="h-4 w-4" />
        </button>
        <span
          class="pointer-events-none absolute bottom-full left-1/2 mb-2 w-max max-w-xs -translate-x-1/2 rounded-md bg-gray-900 px-3 py-1.5 text-xs text-white opacity-0 shadow-lg transition-opacity duration-300 group-focus-within:opacity-100 group-hover:opacity-100"
        >
          Copy embedding code
        </span>
      </div>

      <div class="group relative inline-block">
        <button
          type="button"
          data-type="share-on-bsky-button"
          data-definition-id={definition.id}
          data-definition-term={definition.term}
          data-definition-explanation={definition.explanation}
          class="rounded-md px-2 py-1 hover:cursor-pointer hover:bg-gray-100"
        >
          <img src={BlueskyIcon.src} alt="Share on Bluesky" class="h-4 w-4" />
        </button>
        <span
          class="pointer-events-none absolute bottom-full left-1/2 mb-2 w-max max-w-xs -translate-x-1/2 rounded-md bg-gray-900 px-3 py-1.5 text-xs text-white opacity-0 shadow-lg transition-opacity duration-300 group-focus-within:opacity-100 group-hover:opacity-100"
        >
          Share on Bluesky
        </span>
      </div>

      <div class="group relative inline-block">
        <button
          type="button"
          data-type="share-on-x-button"
          data-definition-id={definition.id}
          data-definition-term={definition.term}
          data-definition-explanation={definition.explanation}
          class="rounded-md px-2 py-1 hover:cursor-pointer hover:bg-gray-100"
        >
          <img src={TwitterIcon.src} alt="Share on Twitter" class="h-4 w-4" />
        </button>
        <span
          class="pointer-events-none absolute bottom-full left-1/2 mb-2 w-max max-w-xs -translate-x-1/2 rounded-md bg-gray-900 px-3 py-1.5 text-xs text-white opacity-0 shadow-lg transition-opacity duration-300 group-focus-within:opacity-100 group-hover:opacity-100"
        >
          Share on X
        </span>
      </div>

      <div class="group relative inline-block">
        <button
          type="button"
          data-type="copy-to-clipboard-button"
          data-definition-id={definition.id}
          data-definition-term={definition.term}
          data-definition-explanation={definition.explanation}
          class="rounded-md px-2 py-1 hover:cursor-pointer hover:bg-gray-100"
        >
          <img src={CopyIcon.src} alt="Copy to clipboard" class="h-4 w-4" />
        </button>
        <span
          class="pointer-events-none absolute bottom-full left-1/2 mb-2 w-max max-w-xs -translate-x-1/2 rounded-md bg-gray-900 px-3 py-1.5 text-xs text-white opacity-0 shadow-lg transition-opacity duration-300 group-focus-within:opacity-100 group-hover:opacity-100"
        >
          Copy to clipboard
        </span>
      </div>

      <div class="group relative inline-block">
        <button
          type="button"
          data-type="create-image-button"
          data-definition-id={definition.id}
          data-definition-term={definition.term}
          data-definition-explanation={definition.explanation}
          class="rounded-md px-2 py-1 hover:cursor-pointer hover:bg-gray-100"
        >
          <img src={ImageIcon.src} alt="Create image" class="h-4 w-4" />
        </button>
        <span
          class="pointer-events-none absolute bottom-full left-1/2 mb-2 w-max max-w-xs -translate-x-1/2 rounded-md bg-gray-900 px-3 py-1.5 text-xs text-white opacity-0 shadow-lg transition-opacity duration-300 group-focus-within:opacity-100 group-hover:opacity-100"
        >
          Create image
        </span>
      </div>
    </div>
  </div>

  <p data-type="definition-explanation" class="text-lg text-gray-600">{definition.explanation}</p>

  {
    definition.related && definition.related.length > 0 && (
      <p class="mt-4 flex items-center text-sm text-gray-600">
        <img src={LinkIcon.src} alt="Link" class="mr-4 inline h-4 w-4" />
        {definition.related.map(related => (
          <a href={related} class="mr-4 text-sm text-blue-500 hover:text-blue-700">
            {related}
          </a>
        ))}
      </p>
    )
  }
</div>
